{% doc %}
  Renders the Judge.me star rating preview badge for a product.

  @example
  {% render 'judge-me-preview-badge' %}
{% enddoc %}

<!-- Start of Judge.me code -->
<div style="{{ jm_style }}" class="jdgm-widget jdgm-preview-badge" data-id="{{ product.id }}" data-auto-install="false">
  {{ product.metafields.judgeme.badge }}
</div>
<!-- End of Judge.me code -->
